
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Karma&family=Radley&display=swap');

/*
    --pakistan-green: #002d00ff;
    --drab-dark-brown: #2a2600ff;
    --cambridge-blue: #77bfa3ff;
    --celadon: #98c9a3ff;
    --tea-green: #bfd8bdff;
*/

 
/*-------------- referenced images in Header------*/
.logo {
    background-color: #002d00ff;
    background: url("../img/iStock-464324531-800.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.black-box {
    background: rgb(42,38,0);
    background: linear-gradient(180deg, rgba(42,38,0,1) 0%, rgba(42,38,0,0.5) 65%, rgba(42,38,0,0) 100%);
  }

/* --------------------headings--------------------*/
.title-header {
    color: #bfd8bdff;
    font-family:  'Great Vibes', cursive;
    padding-top: 2%;
}

.tagline-heading {
    color: #77bfa3ff;
    font-family:  'Radley', serif;
   
}

 /*----------- formatting for form------------------- */ 
 .loc-text-para {
    display:inline-block;
    padding-left: 15px;
    padding-right:15px; 
    font-size: 1.3em;
    color: #98c9a3ff;
    font-weight: 400;
 }
 .loc-text-pricing {
    display:inline-block;
    padding-left: 15px;
    padding-right:15px; 
    font-size: 1.5em;
    color: #bfd8bdff;
    font-weight: 500;
 }
 .loc-text-field {
    display:inline-block;
    margin-left: 25px;
    margin-right:15px; 
    font-size: 1.0em;
    color: #2a2600ff;
    font-weight: 300;
 }

.black-box-form {
    background: rgb(42,38,0);
    background: linear-gradient(180deg, rgba(0,45,0,1) 0%, rgba(0,45,0,0.5) 98%, rgba(0,45,0,0) 100%);
  }


.logo-form {
    background-color: #002d00ff;
    background: url("../img/iStock-464324555.avif");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/*---------------------------image band and formatting-------------*/

.bg-row-band{
background-color: #002d00ff;

}

.loc-img-format {
    max-width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.loc-img-gallery {
    max-width: 100%;
    height: 100%;

}


    /* ---------------------------------global settings----------*/
body {
    font-family: 'Karma', serif;
    
}
 .loc-text-body {
    display:inline-block;
    padding-left: 5%;
    font-size: 1.5em;
 }
/* padding grid should be set to min height in footer */ 
.loc-grid-padding{
    padding-bottom:  200px;
    
}  
/* ---------------FAQ text formattitng ------------------------- */ 
.loc-text-gallery-heading {
    color: #2a2600ff;
    font-family:  'Radley', serif;
   
}
.loc-text-FAQ-Left {
    
   justify-content: left;
    font-size:  1.4em;
}
.loc-text-FAQ-Right {
    
   justify-content: Right;
    font-size: 1.4em;
}
.loc-img-format-galllery {
    max-width: 100%;
}

/* -targets global footer properties -*/
.loc-footer {
    background-color: #98c9a3ff;
    position: Fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
    /* prioritises footer over page in the z -axis */
}

.navbar-nav > li{
    margin-left: 5px;
    padding-right: 5px;
}


.loc-social-links li a i {
    padding-bottom: 5px;
    padding-top: 16px; 
    width:32px;
    height: 32px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 2px;
    text-align: center;
    color:#77bfa3ff ;
    background: #bfd8bdff;
    transition: all 0.35s ease-in-out;

}

.loc-social-links li a i:hover {
    background: #002d006f;
}

.loc-text-copy {
    font-family:  'Radley', serif;
    font-size: 1.1em;
}



